<?php
/**
 * Literacis Software.
 *
 * @category   Literacis
 * @package    %module_name%
 * @author     Literacis
 * @copyright  Copyright (c) Literacis Software Private Limited (https://Literacis.com)
 * @license    https://store.Literacis.com/license.html
 */

namespace %namespace%\Cron;

/**
 * Cron class.
 */
class %cron_name%
{
    public function __construct(

    ) {

    }

    public function execute() {

    }
}
